/** OVERRIDE **/
body#top {
  background: url(../../../images/websiteBG.jpg) no-repeat 50% fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  letter-spacing: 0.3rem;
}

.main {
  max-width: 100%;
}
.dark main {
  background: rgba(0, 0, 0, 0.8);
}
body#top .main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
 /* border: 0.5rem solid rgba(0, 0, 0, 0.8);*/
}
/** CUSTOM STYLES **/

/* font */
h1,
h2,
h3,
h4,
h5,
h6,
button,
.button-inner {
  font-family: 'Megrim', system-ui;
  font-weight: 900;
  font-style: normal;
}
.button,
.button-inner {
  color: #181818;
}
.button-inner:hover {
  color: #f1f1f1;
}
a.button {
  background: #f1f1f1;
  color: #181818;
}
.button:hover {
  background: #181818;
  color: #f1f1f1;
}

a.button:hover .button-inner {
  background: #181818;
  color: #f1f1f1;
}

a {
  color: #fff !important;
  text-decoration: none;
}

.about-text {
  color: white;
  font-weight: bold;
}
.block {
  background: rgba(255, 255, 255, 0.8);
  margin: 2rem;
  padding: 1.5rem;
}
.crew-title {
  font-size: 5rem;
  color: white;
  font-weight: bolder;
  letter-spacing: 3rem;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.profile img {
  border-radius: 0px;
  width: 550px;
  max-width: 100%;
}

.profile h1 {
  display: none;
}

.nav a {
  display: block;
  padding: 1rem;
  background: none;
  margin: 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}
@media (max-width: 480px) {
  .nav {
    margin-bottom: 50vh !important;
  }
}
